.color-1 {
    background-color: aqua;
    height: 150px;
}

.color-2 {
    background-color: gold;
    height: 150px;
}
.color-3 {
    background-color: crimson;
    height: 150px;
}
.color-4 {
    background-color: darkgreen;
    height: 150px;
}
.color-5 {
    background-color: darkslateblue;
    height: 150px;
}
.color-6 {
    background-color: black;
    height: 150px;
}

